<div class="container w-75 mx-auto">
  <h1>Angular - Firebase - Firestore - CRUD Demo</h1>
  <div>
    <input
      class="form-control my-1 w-75"
      type="text"
      [(ngModel)]="user.name"
      placeholder="Name"
    />
  </div>
  <div>
    <input
      class="form-control my-1 w-75"
      type="email"
      [(ngModel)]="user.email"
      placeholder="Email"
    />
  </div>
  <div>
    <!-- if editingUserId is not null -->
    @if(editingUserId){
    <button class="btn btn-primary mx-1" (click)="updateUser()">
      Update User
    </button>
    <button class="btn btn-primary" (click)="resetForm()">Clear Form</button>
    }
    <!-- if editingUserId is null when a new user is being created -->
    @else {
    <button class="btn btn-primary mx-1" (click)="addUser()">Add User</button>
    }
  </div>
  <hr />
  <div class="col">
    <h2>List of Users</h2>
    <div>
      <ul>
        @for(user of users; track user.id){
        <li>
          {{ user.id }} : {{ user.name }} : ({{ user.email }})
          <button class="btn btn-info btn-small m-1" (click)="editUser(user)">
            Edit
          </button>
          <button
            class="btn btn-danger btn-small m-1"
            (click)="deleteUser(user.id)"
          >
            Delete
          </button>
        </li>
        }
      </ul>
    </div>
  </div>
  <div>
    <ul>
    <h2>List of Users with Name Alice</h2>
    @for(u of usersWithNameAlice; track u.id){
      <li>{{u.id}} : {{u.name}} : ({{u.email}})</li>
    }
    </ul>
  </div>
</div>
