<div class="container">
  <h1>Angular Firebase CRUD</h1>

  <input
    type="text"
    [(ngModel)]="user.name"
    name="name"
    placeholder="Name"
    required
  />
  <input
    type="email"
    [(ngModel)]="user.email"
    name="email"
    placeholder="Email"
    required
  />

  @if(editingUserId){
  <button type="button" (click)="updateUser()">updateUser</button>
  <button type="button" (click)="resetForm()">Clear Form</button>
  } @else {
  <button type="submit" (click)="addUser()">
    Add User
  </button>
  }

  <ul>
    @for(user of users; track user.id){
    <li>
      {{ user.name }} ({{ user.email }})
      <button (click)="editUser(user)">Edit</button>
      <button (click)="deleteUser(user.id)">Delete</button>
    </li>
    }
  </ul>
</div>
