<div class="col">
  <h2 class="text-secondary mt-2">List of Users</h2>
  <h5 class="text-info">Click on the User to add tasks</h5>
  @for(user of users; track user.id){
  <div class="row align-items-center">
    <div class="col-sm-9">
      <p class="user-select-all" (click)="selectUserforTask(user)">
        {{ $index + 1 }}: {{ user.id }} : {{ user.name }}: {{ user.email }}
      </p>
    </div>
    <div class="col-sm-3">
      <div class="hstack">
        <div class="btn m-1" (click)="editUser(user)">
          <span><img src="/edit.svg" width="20px" /></span>
        </div>
        <div class="vr"></div>
        <div class="btn m-1" (click)="deleteUser(user.id)">
          <span><img src="/trash-2.svg" width="20px" /></span>
        </div>
      </div>
    </div>
  </div>
  }
</div>
